@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
	font-family: 'Lato';
	color: #424551;
	/* font-size: 16px; */
}
/* ================================================================ */

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* =============================================================== */
[class*="__container"]{
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* ===========================buttons==================================== */
.button {
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	letter-spacing: 0.5px;
	display: inline-block;
	font-weight: 700;
	line-height: 1.25;
	padding: 16px 40px;
	color: #fff;
}
.button:hover{
	background: transparent;
	border: 1px solid #FF3F3A;
	padding: 15px 38px;
	color: #F75E05;
}
/*  */
.button--border {
	background: transparent;
	border: 1px solid #FF3F3A;
	padding: 15px 38px;
	color: #F75E05;
}
.button--border:hover {
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	color: #fff;
}
/* ==============================title===================================== */
.title-block {
	color: #1E212C;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.title-block__sub-title {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.title-block__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
}
/* ============================================================================ */
.page {
}
.page__main {
}
.page__about {
}
.page__courses {
}
/* ====================================header=================================== */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	z-index: 50;
}
.header__container {
	display: flex;	
	align-items: center;
	gap: 60px;
}
.header__logo {
}
.header__menu {
	flex-grow: 1;
}
.header__actions {
}
.menu {

}
.menu__body {
	
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 10px;

}
.menu__item {
}
.menu__link {
	font-weight: 700;

}
.menu__link:hover {
	text-decoration: underline;
}
.actions-header {
	flex: 0 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 36px;
}
.auth {
	background: url('../img/Navbar/Person.svg') 0 0 no-repeat;
	padding-left: 24px;
	font-weight: 700;
	line-height: 1.25;
}
.auth:hover span{
	text-decoration: underline;
}
/* ============================================================================ */
.main-block {
	position: relative;
	padding: 200px 0px 80px 0px;
	background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(245, 93, 5, 0.2) 100%);
	margin-bottom: 180px;
}
.main-block__container {
	position: relative;
	z-index: 2;
}
.main-block__body {
	margin-bottom: 190px;
}
.body-main {
	display: flex;
}
.body-main__content {
	flex: 0 1 50%;
	padding-right: 40px;
	align-self: center;
}

.body-main__play {
	position: relative;
	font-weight: 700;
	font-size: 14px;
	display: inline-flex;
	align-items: center;
	gap: 16px;
	color: #1E212C;
}
.body-main__play:not(:last-child) {
	margin-bottom: 40px;	
}
.body-main__play:hover:after {
	animation-play-state: paused;
}
.body-main__play:hover::before {
	background-color: #d83732;
}
.body-main__play::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 52px;
	width: 52px;
	border-radius: 50%;
	background: #FF3F3A;
	opacity: 0.12;
	transform: scale(1.6);
	animation:play-circle 2s infinite ease;

}
.body-main__play::before{
	content: '';
	flex: 0 0 52px;
	height: 52px;
	width: 52px;
	border-radius: 50%;
	transition: background-color 0.3s ease 0s;
	background: #FF3F3A url('../img/icons/Polygon.svg') center no-repeat;
}

@keyframes play-circle {
	0% {
		transform: scale(1.6);
	}
	100% {
		transform: scale(3);
		opacity: 0;
	}
}
.body-main__title:not(:last-child) {
	margin-bottom: 60px;
}
.body-main__title {
	font-weight: 900;
	font-size: 64px;
	line-height: 1.3;
	display: flex;
	align-items: center;
	letter-spacing: 1px;
	color: #1E212C;
	
}
.body-main__actions {
	display: flex;
	align-items: center;
	gap: 24px;
}
.body-main__actions:not(:last-child) {
	margin-bottom: 40px;
}
.body-main__button {

}
.body-main__media {
	flex: 0 1 50%;
}
.body-main__image {
	max-width: 107.8%;
	transform: translate(7.8%,0px);
}
.main-block__adventeges {
	
}
.advantages-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
.advantages-main__item {
	display: flex;
	align-items: center;
	gap: 12px;

}
.item-advantages {
	color: #1E212C;
}
.item-advantages__value {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
}
.item-advantages__text {
	line-height: 1.6;
}
.advantages-main__circle {
	background: #FF3F3A;
	flex: 0 0 8px;
	height: 8px;
	border-radius: 50%;	
}
.main-block__decor {
}
.decor-main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.decor-main__item {
	position: absolute;
}
.decor-main__item--1 {
	background: url('../img/decor/01.svg') 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: 12%;
	left: 4.2%;
}
.decor-main__item--2 {
	background: url('../img/decor/02.svg') 0 0 no-repeat;
	width: 284px;
	height: 284px;
	bottom: -9.25%;
	left: -5.5%;
}
.decor-main__item--3 {
	background: url('../img/decor/03.svg') 0 0 no-repeat;
	width: 88px;
	height: 47px;
	top: 45%;
	left: 40.73%;
}
.decor-main__item--4 {
	background: url('../img/decor/04.svg') 0 0 no-repeat;
	width: 61px;
	height: 61px;
	top: 70.1%;
	left: 40.73%;
}
.decor-main__item--5 {
	background: url('../img/decor/05.svg') 0 0 no-repeat;
	width: 187px;
	height: 137px;
	bottom: 18%;
	right: -1.56%;
}
.decor-main__item--6 {
	background: url('../img/decor/01.svg') 0 0 no-repeat;
	width: 110px;
	height: 110px;
	top: -2.8%;
	right: 5%;
	transform: rotate(135deg);
}
/* ==================================================================== */
.about-block {
	position: relative;
	margin-bottom: 180px;
}
.about-block__container {
	position: relative;
	z-index: 2;
}
.about-block__body {
	display: flex;
	align-items: center;
}
.about-block__decor {
}
.body-about {
	display: flex;
	align-items: center;
/* 
	animation:body-about 2s ease forwards;
	transform: translate(0px,50%);
	opacity: 0; */
}
.body-about__image {
	max-width: 100%;
	padding-right: 135px;
}
.body-about__containt {
	flex: 0 1 50%;
}
.body-about__title:not(:last-child) {
	margin-bottom: 22px;
}
.body-about__title {
}
.body-about__items {
	flex-grow: 0;
}
.body-about__items:not(:last-child) {
	margin-bottom: 22px;
}
.item-about {
	color: #424551;
}

.item-about__list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	font-weight: 400;
	line-height: 1.6;
	
}
.item-about__list li:hover:before {
	transform: scale(1.5);
}
.item-about__list li::before{
	content:'';
	display: inline-block;
	flex: 0 0 16px;
	height: 16px;
	background: url('../img/about/check.svg') 0 0 no-repeat;
	margin-left: -32px;
	padding-right: 32px;
 }
.body-about__button{
}
.body-about__button:not(:last-child) {
	margin-bottom: 26px;
}

.about-decor {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.about-decor__item {
	position: absolute;

	animation:about-decor 2s ease forwards;
	transform: translate(-50%,0px);
	opacity: 0;
}
.about-decor__item--1 {
	background: url('../img/about/decor/dots.svg') 0 0 no-repeat;
	content: '';
	width: 181px;
	height: 132px;
	top: 32.4%;
	left: 0%;
	
}
.about-decor__item--2 {
	background: url('../img/about/decor/circles.svg') 0 0 no-repeat;
	content: '';
	width: 287px;
	height: 287px;
	right: -8.6%;
	top: 59%;
}
/* @keyframes body-about {
	0% {
		
	}
	100% {
		transform: translate(0px,0%);
		opacity: 1;
	} 
} */
@keyframes about-decor {
	0% {
		
	}
	100% {
		transform: translate(0px,0%);
		opacity: 1;
	}
}
/* ================================================================================ */
.courses-block {
	margin-bottom: 180px;	
}
.courses-block__container {
}
.courses-block__body {
	display: flex;
	flex-direction: column;

	/* animation:courses-block__body 4s ease forwards;
	transform: translate(0px,50%);
	opacity: 0; */
}
.courses-block__title:not(:last-child) {
	margin-bottom: 60px;
}
.courses-block__title {
	display: flex;
	flex-direction: row;
}
.courses-block__button {
	margin-left: 52.9%;
}
.courses-block__cards {
}
.cards-block {
	
}
.cards-block__items {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.item-cards {
}
.item-cards__body:hover {
	transform: scale(1.1);
}
.item-cards__body {
	display: flex;
	align-items: center;
	background: #FFFFFF;
	border: 1px solid #E5E8ED;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 
				0px 30px 24px -10px rgba(154, 156, 165, 0.05), 	
				0px 12px 10px -6px rgba(154, 156, 165, 0.04), 	
				0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
	flex: 0 1 600px;
}
.item-cards__image img{
	max-width: 100%;
}
.item-cards__containt {
	padding-left: 32px;
}
.containt-item {
	display: flex;
	flex-direction: column;
	gap: 20px;
	line-height: 1.5;
}
.containt-item__specialty {
	display: flex;
	font-size: 14px;
	color: #FFFFFF;
	border-radius: 4px;
	max-width: max-content;
	padding: 1px 8px ;
}
.containt-item__specialty--green {
	background: #03CEA4;
}
.containt-item__specialty--blue {
	background: #5A87FC;
}
.containt-item__specialty--gold {
	background: #F89828;
}
.containt-item__specialty--purple {
	background: #F52F6E;
}
.containt-item__title {
	font-weight: 700;
	font-size: 20px;
	color: #1E212C;
}
.containt-item__text {
	display: flex;
	flex-direction: row;
}
.containt-item__price {
	font-weight: 700;
	font-size: 18px;
	color: #FF4242;
}
.containt-item__name::before{
	content:'';
	width: 16px;
	height: 0;
	gap: 8px;
	border: 1px solid #787A80;
	transform: rotate(90deg);
	margin: 0px 8px;
}
.containt-item__name {
	font-weight: 400;
	font-size: 18px;
	color: #787A80;
}
/* @keyframes courses-block__body {
	0% {
		
	}
	100% {
		transform: translate(0px,0%);
		opacity: 1;
	}
} */